:root {
    --width: 100%;
    --height: 100%;
}

#bannerOverlay {
    width: 100%;
    height: 10.5%;
    position: fixed;
    bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    /* left: 1%; */
    display: flex;
    background-color: rgba(0, 0, 0, 0.0);
    /* Black background with opacity */
    z-index: 2;
}

#CONTAINER_ID_TO_PUT_AD_IN {
    width: var(--width);
    height: var(--height);
    margin-left: auto;
    margin-right: auto;
}