@font-face {
    font-family:"DR Agu";
    src:    url("../fonts/DR_Agu_W00_Regular.eot?")                format("eot"),
            url("../fonts/DR_Agu_W00_Regular.woff")                format("woff"),
            url("../fonts/DR_Agu_W00_Regular.ttf")                 format("truetype"),
            url("../fonts/DR_Agu_W00_Regular.svg#Impact")          format("svg");
    font-weight:normal;
    font-style:normal;
}
